body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

@media (min-width: 1200px) {
  body {
    max-width: 1800px;
    margin: 0 auto;
  }
}

h2 {
  display: flex;
  padding-left: 10px;
  padding-right: 40px;
  font-size: 26px;
  font-family: "Shrikhand", cursive;
}

h3 {
  font-size: 26px;
  font-weight: bold;
}

h5 {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 5px;
}

i.fas.fa-heart {
  display: flex;
  font-size: 24px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  padding-bottom: 10px;
  padding-right: 30px;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  z-index: 2;
}
header .header-menu {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}
header .header-menu i.fa-arrow-left {
  position: absolute;
  justify-content: flex-start;
  left: 0px;
  height: auto;
  font-size: 18px;
  padding: 20px;
  margin-left: 0px;
}
header .header-menu img {
  width: 160px;
  display: flex;
  padding-top: 20px;
  padding-bottom: 15px;
}
@media screen and (min-width: 768px) {
  header .header-menu img {
    width: 180px;
    padding-bottom: 30px;
  }
}

footer {
  background-color: #333333;
  color: white;
  padding-left: 30px;
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding-top: 30px;
    padding-bottom: 0px;
  }
}
footer img {
  width: 120px;
  height: auto;
  display: block;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 25px;
  filter: brightness(0) invert(1);
}
@media screen and (min-width: 768px) {
  footer img {
    padding: 20px;
    width: 100px;
    margin: 20px;
  }
}
footer .fas {
  padding-right: 10px;
}
footer .footer-liste {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  footer .footer-liste {
    flex-direction: row;
  }
}
footer .footer-liste .footer-icone {
  display: flex;
  flex-direction: row;
}
footer .footer-liste p {
  margin-bottom: 10px;
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  footer .footer-liste p {
    padding-right: 30px;
    font-size: 16px;
  }
}
footer .footer-liste a {
  margin-bottom: 12px;
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  footer .footer-liste a {
    padding-right: 10px;
    font-size: 16px;
  }
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  height: 100vh;
}

.utensils1 {
  position: absolute;
  font-size: 90px;
  color: #909090;
  z-index: 2;
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #9356dc;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.5s linear infinite;
  z-index: 3;
}

body:not(.loading) .loader-container {
  animation: slideIn 2s;
  animation-fill-mode: forwards;
}

@keyframes slideIn {
  0% {
    display: flex;
  }
  100% {
    display: none;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* style search */
.background-icon {
  background-color: #EAEAEA;
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: inset 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) {
  .background-icon {
    box-shadow: none;
  }
}

.icon-search {
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 0;
  border: none;
}
.icon-search i {
  margin-right: 10px;
}
.icon-search input[type=text] {
  border: none;
}
input[type=text] {
  background-color: #EAEAEA;
  border: none;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  width: 50%;
}
@media screen and (min-width: 768px) {
  input[type=text] {
    font-size: 14px;
    padding: 5px;
  }
}

/* style les parties */
.reservation,
.Fonctionnement,
.restaurant {
  display: flex;
  flex-direction: column;
}

/* style reservation */
.reservation {
  background-color: #F6F6F6;
  display: flex;
  width: 100%;
}
.reservation h3 {
  margin-top: 45px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 0px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .reservation h3 {
    font-size: 36px;
    padding-bottom: 20px;
    margin-top: 30px;
  }
}
.reservation p {
  font-size: 22px;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .reservation p {
    font-size: 16px;
  }
}
.reservation .explore-button {
  margin-top: 0px;
  margin-bottom: 60px;
  align-self: center;
  border: none;
  border-radius: 30px;
  background-color: #ff79da;
  background: linear-gradient(to top, #9356dc, #ff79da);
  color: #fff;
  padding: 16px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 200px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.9s;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.9s;
  z-index: 1;
}
.reservation .explore-button:hover {
  -webkit-box-shadow: 1px 2px 30px -1px rgba(0, 0, 0, 0.48);
  box-shadow: 1px 2px 15px -1px rgba(0, 0, 0, 0.48);
}
.reservation .explore-button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 30px;
}
.reservation .explore-button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
}
.reservation .explore-button:hover {
  background: linear-gradient(to top, #a16be0, #ff79da);
}
.reservation .explore-button:hover::after {
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .reservation .explore-button {
    margin-bottom: 30px;
  }
}

/* style fonctionnement */
.fonctionnement {
  width: 100%;
  margin-top: 50px;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .fonctionnement {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
}
.fonctionnement h3 {
  margin-left: 30px;
}

.option {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .option {
    display: flex;
    flex-direction: row;
  }
}

.fonctionnement__step {
  display: flex;
  background-color: #F6F6F6;
  width: 90%;
  margin-right: 20px;
  margin-left: 30px;
  margin-bottom: 20px;
  padding-top: 20px;
  border-radius: 20px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) {
  .fonctionnement__step {
    max-width: 400px;
  }
}
.fonctionnement__step .step-number {
  position: absolute;
  position: relative;
  display: inline-block;
  background-color: #9356dc;
  color: #fff;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  margin-right: 20px;
  margin-left: -3px;
  right: 10px;
}
.fonctionnement__step .custom-icon {
  display: inline-block;
  position: relative;
  right: 20px;
  bottom: 0px;
}
.fonctionnement__step .custom-icon i {
  position: absolute;
}
.fonctionnement__step .custom-icon i.fa-mobile-alt {
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  .fonctionnement__step .custom-icon i.fa-mobile-alt {
    font-size: 18px;
  }
}
.fonctionnement__step .custom-icon i.fa-list {
  font-size: 22px;
}
@media screen and (min-width: 768px) {
  .fonctionnement__step .custom-icon i.fa-list {
    font-size: 18px;
  }
}
.fonctionnement__step .custom-icon i.fa-store {
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .fonctionnement__step .custom-icon i.fa-store {
    font-size: 18px;
  }
}
.fonctionnement__step i.fas {
  width: 60px;
  position: absolute;
  color: #909090;
}
.fonctionnement__step i.fas.fa-store {
  color: #9356dc;
}
.fonctionnement__step p {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  padding-left: 45px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .fonctionnement__step p {
    font-size: 14px;
    padding-left: 10px;
  }
}

/* style restaurant */
.restaurant {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #F6F6F6;
  padding-top: 40px;
  padding-bottom: 60px;
}
.restaurant h3 {
  display: flex;
  margin-left: 30px;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .restaurant h3 {
    margin-left: 120px;
  }
}

.restaurant-section {
  margin-left: 20px;
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  .restaurant-section {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
  }
}

.restaurant-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .restaurant-item {
    max-width: 450px;
    max-height: 350px;
    margin: 20px;
  }
}
.restaurant-item .flag_new {
  background-color: #99e2d0;
  position: absolute;
  right: 20px;
  top: 15px;
  padding: 10px;
  border-radius: 3px;
}
.restaurant-item .flag_new p {
  color: #1b6150;
  font-weight: bold;
}
.restaurant-item .marg-ref {
  background-color: white;
  width: 100%;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
}
.restaurant-item img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurant-item .restaurant-bandeau {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.restaurant-item .heart-icon:nth-child(1) {
  position: relative;
  color: white;
}
.restaurant-item .heart-icon:nth-child(2) {
  position: absolute;
  top: 24px;
  right: 28px;
  font-size: 29px;
  opacity: 0;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
}
.restaurant-item .heart-container:hover .heart-icon:nth-child(2) {
  opacity: 1;
  transition: opacity 0.3s;
}
.restaurant-item .restaurant-titre {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 15px;
}
.restaurant-item .restaurant-titre h4 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
}
.restaurant-item .restaurant-titre p {
  font-size: 20px;
}

/*# sourceMappingURL=main.css.map */
