@use './../utils/variables' as v;
@use './../utils/mixins' as m;
  
  footer {
    background-color: lighten(black, 20%);
    color: white;
    padding-left: 30px;
    padding-bottom: 10px;
    @media screen and (min-width: v.$Desktop) {
      display: flex;
      flex-direction: row-reverse;
      align-items:flex-end;
      padding-top: 30px;
      padding-bottom: 0px;
    }

    img {
      width: 120px;
      height: auto;
      display: block;
      margin: 0px;
      padding-top: 30px;
      padding-bottom: 25px;
      filter: brightness(0) invert(1);
      @media screen and (min-width: v.$Desktop) {
        padding: 20px;
        width: 100px;
        margin: 20px;
      }
    }
    
    .fas {
        padding-right: 10px;
    }

    .footer-liste {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;

    @media screen and (min-width: v.$Desktop) {
      flex-direction: row;
    }

    .footer-icone {
        display: flex;
        flex-direction: row;
    }

    p {
        margin-bottom: 10px;
        font-size: 18px;
        @media screen and (min-width: v.$Desktop) {
          padding-right: 30px;
          font-size: 16px;
        }
    }

    a {
      margin-bottom: 12px;
      font-size: 18px;
      @media screen and (min-width: v.$Desktop) {
        padding-right: 10px;
        font-size: 16px;
      }
    }
  }
  }
  