h2 {
  font-family: 'Shrikhand', cursive;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .header-menu {
    display: flex;
    justify-content: center;
  }

  .fa-solid.fa-arrow-left {
    margin-left: 10px;
    align-content: space-between;
  }

  img {
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 5px;
  }
}
