header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  z-index: 2;


  .header-menu {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;

  i {

  &.fa-arrow-left {
    position: absolute;
    justify-content: flex-start;
    left: 0px;
    height: auto;
    font-size: 18px;
    padding: 20px;
    margin-left: 0px;
  }
  }

  img {
    width: 160px;
    display: flex;
    padding-top: 20px;
    padding-bottom: 15px;
  }
  }

}
