.container {
    width: 100%;
    height: 380px;
}

div {
    background-image: url(asset/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-position: center;
    background-size: 100%;

}