@use './../utils/variables' as v;
@use './../utils/mixins' as m;

body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

h2 {
    display: flex;
    padding-left: 10px;
    padding-right: 40px;
    font-size: 26px;
    font-family: 'Shrikhand', cursive;
  }

h3 {
    font-size: 26px;
    font-weight: bold;
}

h5 {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 5px;
}

i.fas.fa-heart {
    display: flex;
    font-size: 24px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    padding-bottom: 10px;
    padding-right: 30px;
    transition: color 0.3s;
  }

  i.fas.fa-heart:active {
    color: linear-gradient(to right, v.$primary_color, v.$secondary_color);
  }

 

