@use './../utils/variables' as v;
@use './../utils/mixins' as m;

header {
  img {
    max-width: 200px;
    height: auto;
    display: block; 
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 5px;
  }
}

  main {
    display: flex;
    flex-direction: column; 
    align-items: center; 
  }

  .background-icon {
    background-color: v.$grey_color;
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .icon-search {
    background-color: v.$grey_color;
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 10px;
    margin: 0; 
    border: none;
    i {
      margin-right: 10px; 
    }
    input[type="text"] {
      border: none;
    }
    @include m.media(768px) {
      background-color: v.$grey_color;
    }
  }

  input[type="text"] {
    background-color: v.$grey_color;
    border: none;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    width: 50%;
  }

  h2.reservation {
    margin: ;
  }


  
  .restaurant-item img {
    max-width: 100%;
    height: auto;
  }
  
  