@use './../utils/variables' as v;
@use './../utils/mixins' as m;

header {
  img {
    max-width: 200px;
    height: auto;
    display: block;
    margin: 10px auto;
    padding-top: 15px;
    padding-bottom: 5px;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* style search */
.background-icon {
  background-color: v.$grey_color;
  display: flex;
  width: 100%;
  justify-content: center;
}

.icon-search {
  background-color: v.$grey_color;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 0;
  border: none;

  i {
    margin-right: 10px;
  }

  input[type="text"] {
    border: none;
  }

  @include m.media(768px) {}
}

input[type="text"] {
  background-color: v.$grey_color;
  border: none;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  width: 50%;
}

/* style les parties */
.reservation,
.Fonctionnement,
.restaurant {
  display: flex;
  flex-direction: column;
}


/* style reservation */

.reservation {
  background-color: v.$lighter_grey_color;
  display: flex;
  width: 100%;
  justify-content: center;

  h2 {
    margin-top: 45px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 0px;
    text-align: center;
  }

  p {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;

  }

  .explore-button {
    margin-top: 10px;
    margin-bottom: 70px;
    align-self: center;
    @include m.round-button(v.$secondary_color, #fff);
  }
}

/* style fonctionnement */

.fonctionnement {
  width: 100%;
  margin-top: 60px;

  h2 {
  margin-left: 20px;
  }
}


.option {
  width: 100%;
  margin-top: 35px;
  margin-bottom: 80px;
}

.fonctionnement__step {
  display: flex;
  align-items: center;
  background-color: v.$lighter_grey_color;
  width: auto;
  border-radius: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  margin-right: 20px;
  margin-left: 30px;
  position: relative;

  .step-number {
    position: absolute;
    @include m.encircle(v.$primary_color);
    margin-right: 20px;
    margin-left: -20px;
    right: 10px;
  }

  .custom-icon {
    display: inline-block;
    position: relative;
    right: 20px;
    bottom: 15px;


    i {
      position: absolute;

      &.fa-mobile-alt {
        font-size: 24px;

      }

      &.fa-ellipsis-v {
        font-size: 18px;
        top: 5px;
      }

      &.fa-bars {
        font-size: 18px;
        top: 5px;
      }

      &.fa-store {
        font-size: 20px;

      }
    }
  }

  i.fas {
    width: 60px;
    position: absolute;
    color: v.$darken_grey_color;
  }

  p {
    width: 100% text-align left;
    margin-left: 50px;
    font-size: 18px;
    font-weight: bold;
  }
}

/* style restaurant */
.restaurant {
  width: 100%;
  background-color: v.$grey_color;
  padding-top: 65px;
  padding-bottom: 60px;

  h2 {
    margin-left: 20px;
    margin-bottom: 15px;
  }
}

.restaurant-section {
  margin-left: 20px;
  margin-right: 20px;
}

.restaurant-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin-top: 10px;

  .flag_new {
    background-color: v.$tertiary_color;
    position: absolute;
    right: 20px;
    top: 15px;
    padding: 8px;
    border-radius: 3px;
    
    p{
      color:v.$darken_tertiary_color;
      font-weight: bold;
    }
  }

  .marg-ref {
    background-color: white;
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 400px;
    margin-left: 10px;
    margin-right: 10px;
  }

  img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .restaurant-bandeau {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .restaurant-titre {
    flex-direction: flex;
    width: 100%;


    h3{
      font-size: 20px;
      font-weight: bold;
      padding-bottom: 10px;
    }

    p {
      font-size: 20px;
    }
  }

  i.fas.fa-heart {
    flex-direction: center;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
    
  }



/* style footer*/
footer {
  background-color: black;
  color: white;
}