@use './../utils/variables' as v;
@use './../utils/mixins' as m;

main {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: left;
  padding-top: 0px;
  z-index: 1;

  img {
    position: absolute;
    max-width: auto;
    width: 100%;
    top: 0px; 
    z-index: 0;
    @media screen and (min-width: v.$Desktop) {
      max-height: 350px;
    }
  }

}

.page-commande {
  margin-top: 220px;
  background-color: v.$grey_color;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 1;
  
  @media screen and (min-width: v.$Desktop) {
    max-width: 1200px;
    margin-top: 310px;
    margin-left: auto;
    margin-right: auto;
    width: 66%;
  }
}

.palette {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 10px;
  padding-top: 30px;

  h2 {
    width: 100%;
  }


  i.fas.fa-heart {
    color: v.$grey_color;
  }
}

h4 {
  margin-top: 30px;
  margin-bottom: 5px;
}

.trait {
  border-top: 3px solid #000;
  width: 40px;
  border-color: v.$tertiary_color
}

.detail {
  flex-direction: row;
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: space-between;
  background-color: v.$lighter_grey_color;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-top: 18px;
  padding-bottom: 18px;
  
  p {
  font-size: 14px;
  }

  p.price {
    display: flex;
    font-weight: bold;
    position: relative;
    justify-content: flex-end;
  }
}

.flex-button {
  display: flex;
  justify-content: center;
  .explore-button {
  @include m.round-button(v.$secondary_color, #fff);
  margin-bottom: 40px;
  margin-top: 30px;


}
}