@use './../utils/variables' as v;
@use './../utils/mixins' as m;

main {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: left;
  padding-top: 0px;
}

.container {
  position: absolute;
  width: 100%;
  height: 380px;
  background-image: url('../asset/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg');
  background-position: center;
  background-size: 100%;
}

.page-commande {
  margin-top: 300px;
  background-color: v.$grey_color;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 1;

  @media screen and (min-width: v.$Desktop) {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
}

.palette {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 10px;
  padding-top: 30px;

  @media screen and (min-width: v.$Desktop) {
    flex-direction: center;
    width: 70%;
    font-size: 18px;
    margin: 0 auto;
  }

  h2 {
    width: 66%;
    padding-left: 10px;
    justify-content: center;
    align-self: center;
  }
}

.heart-icon:nth-child(1) {
  color: v.$grey_color;
}

.heart-icon:nth-child(2) {
  position: absolute;
  top: 27px;
  right: 114px;
  font-size: 30px;
  opacity: 0;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to top, v.$primary_color , v.$secondary_color);
  transition: opacity 0.2s;
}

.heart-container:hover .heart-icon:nth-child(2) {
  opacity: 1;
}

.plats {
  opacity: 0;
  transition: opacity 1s;
  animation: fadeIn 1s 3s forwards;
  
  @media screen and (min-width: v.$Desktop) {
    width: 66%;
    margin: 0 auto;
  }
}

.plats.active:nth-child(1) {
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


h4 {
  margin-top: 50px;
  margin-bottom: 5px;
}

.trait {
  border-top: 3px solid #000;
  width: 40px;
  border-color: v.$tertiary_color
}

.detail {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 15px;
  border-radius: 20px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  width: auto;
  cursor: pointer;
  height: 75px;
  padding-left: 13px;

  .base {
    display: flex;
    padding-bottom: 6px;
    padding-right: 12px;
    flex-direction: row;
    width: 100%;
    align-items: center;
  }

  .texte-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  p {
    font-size: 14px;
  }

  .price-label {
    display: flex;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    align-items: flex-end;
    height: 65%;
  }

  i.fas.fa-check-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    position: relative;
    font-size: 20px;
    background-color: v.$tertiary_color;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 0px;
    height: 100%;
    overflow: hidden;
  }

  &:hover i.fas.fa-check-circle {
    content: "";
    animation: slideIn 0.5s;
    animation-fill-mode: forwards;
  }

  &:not(:hover) i.fas.fa-check-circle {
    animation: slideOut 0.5s forwards;
  }

  @keyframes slideOut {
    0% {
      width: 70px;
    }

    100% {
      width: 0px;
    }
  }

  @keyframes slideIn {
    0% {
      width: 0px;
    }

    100% {
      width: 70px;
    }
  }
}

.flex-button {
  display: flex;
  justify-content: center;

  .explore-button {
    @include m.round-button(v.$secondary_color, #fff);
    margin-bottom: 40px;
    margin-top: 30px;
  }
}