@use './../utils/variables' as v;

@mixin media($breakpoint) {
    @media (min-width: $breakpoint) {
      @content;
    }
  }

@mixin round-button($background-color, $text-color) {
    border: none;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: $background-color;
    background: linear-gradient(to top, v.$primary_color, v.$secondary_color);
    color: $text-color;
    padding: 20px 20px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width: 220px;
}

@mixin encircle($background-color) {
  position: relative;
  display: inline-block;
  background-color: $background-color;
  color: #fff;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
}

@mixin custom-mixin {
  display: flex;
  width: auto;
  border-radius: 15px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  -webkit-box-shadow: 4px 8px 24px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 4px 8px 24px 2px rgba(0, 0, 0, 0.3);
}
