$primary_color: #9356dc;
$secondary_color: #ff79da;
$tertiary_color: #99e2d0;
$grey_color: #EAEAEA;
$darken_tertiary_color: darken($tertiary_color, 50%);
$lighter_grey_color: lighten($grey_color, 2%);
$darken_grey_color: darken($grey_color, 50%);